
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@1,400;1,500&display=swap');
body{font-family: 'Archivo Narrow', sans-serif;}
.bg-AzulEscuro{
    background-color:rgb(0, 24, 146)
}
.bg-Cinzaclaro{
    background-color: #ddd;
}
.bg-AzulClaro{
    background-color: rgb(232, 252, 255);
}